In [ ]:
# 8 WEEK

In [ ]:
#8.1 Time series data preparation

In [3]:
# 1. program to load a time series dataset daily-minimum-temperatures-in-me.csv
import pandas as pd
path="C:\\Users\\sai raj\\OneDrive\\Desktop\\Week8\\daily-minimum-temperatures-in-me.csv"
df=pd.read_csv(path)
print(df)

            Date Daily minimum temperatures
0       1/1/1981                       20.7
1       1/2/1981                       17.9
2       1/3/1981                       18.8
3       1/4/1981                       14.6
4       1/5/1981                       15.8
...          ...                        ...
3645  12/27/1990                         14
3646  12/28/1990                       13.6
3647  12/29/1990                       13.5
3648  12/30/1990                       15.7
3649  12/31/1990                         13

[3650 rows x 2 columns]

In [4]:
#2. Program to Preprocess the data by setting the datetime column as the index and ensuring that it's in the correct datetime format.

import pandas as pd
path="C:\\Users\\sai raj\\OneDrive\\Desktop\\Week8\\daily-minimum-temperatures-in-me.csv"
df = pd.read_csv(path)
print("Original DataFrame:")
print(df.head())
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
print("\nDataFrame after preprocessing:")
print(df.head())

Original DataFrame:
       Date Daily minimum temperatures
0  1/1/1981                       20.7
1  1/2/1981                       17.9
2  1/3/1981                       18.8
3  1/4/1981                       14.6
4  1/5/1981                       15.8

DataFrame after preprocessing:
           Daily minimum temperatures
Date
1981-01-01                       20.7
1981-01-02                       17.9
1981-01-03                       18.8
1981-01-04                       14.6
1981-01-05                       15.8

In [5]:
# 3. program and load a time series dataset with irregular time intervals (timestamps) into a pandasdataframe.
import pandas as pd
data = {'Timestamp': ['2022-01-01 08:00:00', '2022-01-01 10:30:00', '2022-01-02 09:15:00'],
        'Value': [10, 15, 20]}
df = pd.DataFrame(data)
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df.set_index('Timestamp', inplace=True)
resampled_df = df.resample('H').interpolate(method='linear')
print(df)
print("\nResampled DataFrame:")
print(resampled_df)

                     Value
Timestamp
2022-01-01 08:00:00     10
2022-01-01 10:30:00     15
2022-01-02 09:15:00     20

Resampled DataFrame:
                     Value
Timestamp
2022-01-01 08:00:00   10.0
2022-01-01 09:00:00   10.0
2022-01-01 10:00:00   10.0
2022-01-01 11:00:00   10.0
2022-01-01 12:00:00   10.0
2022-01-01 13:00:00   10.0
2022-01-01 14:00:00   10.0
2022-01-01 15:00:00   10.0
2022-01-01 16:00:00   10.0
2022-01-01 17:00:00   10.0
2022-01-01 18:00:00   10.0
2022-01-01 19:00:00   10.0
2022-01-01 20:00:00   10.0
2022-01-01 21:00:00   10.0
2022-01-01 22:00:00   10.0
2022-01-01 23:00:00   10.0
2022-01-02 00:00:00   10.0
2022-01-02 01:00:00   10.0
2022-01-02 02:00:00   10.0
2022-01-02 03:00:00   10.0
2022-01-02 04:00:00   10.0
2022-01-02 05:00:00   10.0
2022-01-02 06:00:00   10.0
2022-01-02 07:00:00   10.0
2022-01-02 08:00:00   10.0
2022-01-02 09:00:00   10.0

In [6]:
# 4.program and load above time series dataset that includes time zone information. Convert thetimestamps to a common time zone
import pandas as pd
import pytz
data = {'Timestamp': ['2022-01-01 08:00:00', '2022-01-01 10:30:00', '2022-01-02 09:15:00'],
        'Value': [10, 15, 20],
        'Timezone': ['America/New_York', 'Europe/London', 'Asia/Tokyo']}
df = pd.DataFrame(data)
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df.set_index('Timestamp', inplace=True)
print("Original DataFrame:")
print(df)
common_time_zone = 'UTC'
df.index = df.index.tz_localize('UTC')  
df.index = df.index.tz_convert(common_time_zone)
print("\nDataFrame with Timestamps in UTC:")
print(df)

Original DataFrame:
                     Value          Timezone
Timestamp
2022-01-01 08:00:00     10  America/New_York
2022-01-01 10:30:00     15     Europe/London
2022-01-02 09:15:00     20        Asia/Tokyo

DataFrame with Timestamps in UTC:
                           Value          Timezone
Timestamp
2022-01-01 08:00:00+00:00     10  America/New_York
2022-01-01 10:30:00+00:00     15     Europe/London
2022-01-02 09:15:00+00:00     20        Asia/Tokyo

In [7]:
# 5. a program and load a time series dataset that exhibits seasonality (e.g., monthly sales data). Createadditional columns to represent the year, quarter, month, day of the week, or any other seasonalcomponents to facilitate seasonal analysis
import pandas as pd
data = {'Date': ['2022-01-15', '2022-02-20', '2022-03-10', '2022-04-05', '2022-05-18'],
        'Sales': [1000, 1200, 800, 1100, 1500]}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df['Year'] = df.index.year
df['Quarter'] = df.index.quarter
df['Month'] = df.index.month
df['Day_of_Week'] = df.index.day_name()
print("DataFrame with Seasonal Components:")
print(df)

DataFrame with Seasonal Components:
            Sales  Year  Quarter  Month Day_of_Week
Date
2022-01-15   1000  2022        1      1    Saturday
2022-02-20   1200  2022        1      2      Sunday
2022-03-10    800  2022        1      3    Thursday
2022-04-05   1100  2022        2      4     Tuesday
2022-05-18   1500  2022        2      5   Wednesday

In [ ]:
# 8.2 Time series aggregation

In [8]:
# 1. program and load a daily time series dataset and aggregate it to monthly intervals. Calculatesummary statistics such as the monthly mean, sum, minimum, and maximum values
import pandas as pd
data = {'Date': pd.date_range(start='2024-01-01', end='2024-12-31', freq='D'),
        'Value': [10, 15, 20, 18, 25, 30] * 61}  # Six values repeated for each day in 2022
df = pd.DataFrame(data)
df.set_index('Date', inplace=True)
monthly_mean = df.resample('M').mean()
monthly_sum = df.resample('M').sum()
monthly_min = df.resample('M').min()
monthly_max = df.resample('M').max()
print("Monthly Mean:")
print(monthly_mean)
print("\nMonthly Sum:")
print(monthly_sum)
print("\nMonthly Minimum:")
print(monthly_min)
print("\nMonthly Maximum:")
print(monthly_max)

Monthly Mean:
                Value
Date
2024-01-31  19.354839
2024-02-29  20.000000
2024-03-31  19.354839
2024-04-30  19.666667
2024-05-31  19.516129
2024-06-30  19.666667
2024-07-31  19.677419
2024-08-31  19.612903
2024-09-30  19.666667
2024-10-31  19.838710
2024-11-30  19.666667
2024-12-31  20.000000

Monthly Sum:
            Value
Date
2024-01-31    600
2024-02-29    580
2024-03-31    600
2024-04-30    590
2024-05-31    605
2024-06-30    590
2024-07-31    610
2024-08-31    608
2024-09-30    590
2024-10-31    615
2024-11-30    590
2024-12-31    620

Monthly Minimum:
            Value
Date
2024-01-31     10
2024-02-29     10
2024-03-31     10
2024-04-30     10
2024-05-31     10
2024-06-30     10
2024-07-31     10
2024-08-31     10
2024-09-30     10
2024-10-31     10
2024-11-30     10
2024-12-31     10

Monthly Maximum:
            Value
Date
2024-01-31     30
2024-02-29     30
2024-03-31     30
2024-04-30     30
2024-05-31     30
2024-06-30     30
2024-07-31     30
2024-08-31     30
2024-09-30     30
2024-10-31     30
2024-11-30     30
2024-12-31     30

In [9]:
# 2. program and load a weekly time series dataset and aggregate it to monthly intervals. Calculatemonthly summaries, such as the total sales for each month.
import pandas as pd
import numpy as np
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='W')
sales_values = np.random.randint(1000, 5000, len(date_rng))
df = pd.DataFrame({'Date': date_rng, 'Sales': sales_values})
df.set_index('Date', inplace=True)
monthly_summary = df.resample('M').agg({
    'Sales': 'sum'
})
print(monthly_summary)

            Sales
Date
2022-01-31  14066
2022-02-28   8600
2022-03-31  10744
2022-04-30  16427
2022-05-31  13872
2022-06-30  11765
2022-07-31  15224
2022-08-31  10760
2022-09-30  12091
2022-10-31   9808
2022-11-30  12759
2022-12-31  14620

In [10]:
#3. a program and load a time series dataset as following with seasonal patterns (e.g., daily temperaturereadings). Aggregate the data to a higher level of granularity (e.g., monthly) while preserving importantseasonal information.

import pandas as pd
date_range = pd.date_range(start='2022-01-01', end='2022-12-26', freq='D')
temperature_values = [30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52] * (len(date_range) // 12)
data = {'Date': date_range, 'Temperature': temperature_values[:len(date_range)]}
df = pd.DataFrame(data)
df.set_index('Date', inplace=True)
monthly_aggregated = df.resample('M').mean()
print("Monthly Aggregated DataFrame:")
print(monthly_aggregated)

Monthly Aggregated DataFrame:
            Temperature
Date
2022-01-31    39.870968
2022-02-28    41.857143
2022-03-31    40.193548
2022-04-30    42.200000
2022-05-31    39.870968
2022-06-30    41.800000
2022-07-31    40.322581
2022-08-31    41.161290
2022-09-30    41.000000
2022-10-31    40.838710
2022-11-30    41.400000
2022-12-31    41.769231

In [11]:
# 4. program and load a weekly time series dataset and aggregate it to monthly intervals. Calculate monthly summaries, such as the total sales for each month.
import pandas as pd
date_range = pd.date_range(start='2022-01-01', end='2022-12-01', freq='W')
sales_values = [1000, 1200, 800, 1100, 1500, 1300, 900, 1000, 1100, 1200, 1400, 1600] * (len(date_range) // 12)
data = {'Date': date_range, 'Sales': sales_values[:len(date_range)]}
df = pd.DataFrame(data)
df.set_index('Date', inplace=True)
monthly_aggregated = df.resample('M').sum()
print("Monthly Aggregated DataFrame:")
print(monthly_aggregated)

Monthly Aggregated DataFrame:
            Sales
Date
2022-01-31   5600
2022-02-28   4300
2022-03-31   5200
2022-04-30   4600
2022-05-31   5500
2022-06-30   5200
2022-07-31   5600
2022-08-31   4700
2022-09-30   4600
2022-10-31   5800
2022-11-30   5300