In [1]:
import pandas as pd
data1 = {'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Carol'], 'age': [25, 30, 35]}
data2 = {'id': [1, 2, 4], 'occupation': ['Software Engineer', 'Data Scientist', 'Manager'], 'salary': [100000, 120000, 150000]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
merged_df_inner=pd.merge(df1, df2, on='id', how='inner')
print(merged_df_inner)

   id   name  age         occupation  salary
0   1  Alice   25  Software Engineer  100000
1   2    Bob   30     Data Scientist  120000

In [2]:
import pandas as pd
data1 = {'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Carol'], 'age': [25, 30, 35]}
data2 = {'id': [1, 2, 4], 'occupation': ['Software Engineer', 'Data Scientist', 'Manager'], 'salary': [100000, 120000, 150000]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
merged_df_outer=pd.merge(df1, df2, on='id', how='outer')
print(merged_df_outer)

   id   name   age         occupation    salary
0   1  Alice  25.0  Software Engineer  100000.0
1   2    Bob  30.0     Data Scientist  120000.0
2   3  Carol  35.0                NaN       NaN
3   4    NaN   NaN            Manager  150000.0

In [3]:
import pandas as pd
data1 = {'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Carol'], 'age': [25, 30, 35]}
data2 = {'id': [1, 2, 4], 'name': ['Alice', 'Bob', 'Carol'], 'occupation': ['Software Engineer', 'Data Scientist', 'Manager'], 'salary': [100000, 120000, 150000]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
merged_df_left=pd.merge(df1, df2, on=['id','name'], how='left')
print(merged_df_left)

   id   name  age         occupation    salary
0   1  Alice   25  Software Engineer  100000.0
1   2    Bob   30     Data Scientist  120000.0
2   3  Carol   35                NaN       NaN

In [4]:
import pandas as pd
data1 = {'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Carol'], 'occupation': ['Software Engineer', 'Data Scientist',''], 'age': [25, 30, 35]}
data2 = {'id': [1, 2, 4], 'occupation': ['Software Engineer', 'Data Scientist', 'Manager'], 'salary': [100000, 120000, 150000]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
merged_df_right = pd.merge(df1, df2, on=['id', 'occupation'], how='right')
print(merged_df_right)

   id   name         occupation   age  salary
0   1  Alice  Software Engineer  25.0  100000
1   2    Bob     Data Scientist  30.0  120000
2   4    NaN            Manager   NaN  150000

In [5]:
import pandas as pd

# Load the dataset
file_path = "fatalities_isr_pse_conflict_2000_to_2023.csv"
df = pd.read_csv(file_path)

# Display the original dataset
print("Original Dataset:")
print(df.head())

# Pivot the data
pivot_table = df.pivot_table(index='age', columns='citizenship', values='date_of_event', aggfunc='sum', fill_value=0)

# Display the reshaped dataset
print("\nReshaped Dataset:")
print(pivot_table)

Original Dataset:
                                          name date_of_event   age  \
0  'Abd a-Rahman Suleiman Muhammad Abu Daghash    2023-09-24  32.0
1         Usayed Farhan Muhammad 'Ali Abu 'Ali    2023-09-24  21.0
2             'Abdallah 'Imad Sa'ed Abu Hassan    2023-09-22  16.0
3             Durgham Muhammad Yihya al-Akhras    2023-09-20  19.0
4                 Raafat 'Omar Ahmad Khamaisah    2023-09-19  15.0

   citizenship     event_location event_location_district  \
0  Palestinian     Nur Shams R.C.                 Tulkarm
1  Palestinian     Nur Shams R.C.                 Tulkarm
2  Palestinian           Kfar Dan                   Jenin
3  Palestinian  'Aqbat Jaber R.C.                 Jericho
4  Palestinian         Jenin R.C.                   Jenin

  event_location_region date_of_death gender took_part_in_the_hostilities  \
0             West Bank    2023-09-24      M                          NaN
1             West Bank    2023-09-24      M                          NaN
2             West Bank    2023-09-22      M                          NaN
3             West Bank    2023-09-20      M                          NaN
4             West Bank    2023-09-19      M                          NaN

  place_of_residence place_of_residence_district type_of_injury  \
0     Nur Shams R.C.                     Tulkarm        gunfire
1     Nur Shams R.C.                     Tulkarm        gunfire
2           al-Yamun                       Jenin        gunfire
3  'Aqbat Jaber R.C.                     Jericho        gunfire
4              Jenin                       Jenin        gunfire

        ammunition                killed_by  \
0  live ammunition  Israeli security forces
1  live ammunition  Israeli security forces
2  live ammunition  Israeli security forces
3  live ammunition  Israeli security forces
4  live ammunition  Israeli security forces

                                               notes
0  Fatally shot by Israeli forces while standing ...
1  Fatally shot by Israeli forces while trying to...
2  Fatally shot by soldiers while firing at them ...
3  Shot in the head by Israeli forces while throw...
4  Wounded by soldiers’ gunfire after running awa...

Reshaped Dataset:
citizenship American                                            Israeli  \
age
1.0                0  2011-09-232003-10-042003-08-192002-05-272002-0...
2.0                0                     2004-09-292004-05-022001-08-09
3.0                0                     2004-08-312003-08-192002-03-02
4.0                0  2014-08-222011-03-112004-09-292004-06-282003-1...
5.0                0  2021-05-122002-11-102002-06-202002-06-192002-0...
...              ...                                                ...
91.0               0                                                  0
92.0               0                                                  0
94.0               0                                                  0
101.0              0                                                  0
112.0              0                                                  0

citizenship Jordanian                                        Palestinian
age
1.0                 0  2019-11-142018-08-092015-07-312014-08-242014-0...
2.0                 0  2023-06-012021-05-162021-05-132021-05-132021-0...
3.0                 0  2022-08-072021-05-162015-10-112014-08-222014-0...
4.0                 0  2023-05-092021-05-162021-05-132021-05-122018-1...
5.0                 0  2022-08-052021-05-162021-05-162021-05-152021-0...
...               ...                                                ...
91.0                0                                         2010-09-12
92.0                0                                         2014-08-03
94.0                0                               2014-08-012002-12-03
101.0               0                                         2008-12-27
112.0               0                                         2014-07-29

[95 rows x 4 columns]

In [6]:
import pandas as pd

# Assuming you have already loaded the dataset
df = pd.read_csv("fatalities_isr_pse_conflict_2000_to_2023.csv")

# Display the original dataset
print("Original Dataset:")
print(df.head())

# Stack or melt the DataFrame
melted_df = pd.melt(df, id_vars=['age'], value_vars=['name'], var_name='Variable', value_name='Value')

# Display the stacked dataset
print("\nStacked Dataset:")
print(melted_df.head())

Original Dataset:
                                          name date_of_event   age  \
0  'Abd a-Rahman Suleiman Muhammad Abu Daghash    2023-09-24  32.0
1         Usayed Farhan Muhammad 'Ali Abu 'Ali    2023-09-24  21.0
2             'Abdallah 'Imad Sa'ed Abu Hassan    2023-09-22  16.0
3             Durgham Muhammad Yihya al-Akhras    2023-09-20  19.0
4                 Raafat 'Omar Ahmad Khamaisah    2023-09-19  15.0

   citizenship     event_location event_location_district  \
0  Palestinian     Nur Shams R.C.                 Tulkarm
1  Palestinian     Nur Shams R.C.                 Tulkarm
2  Palestinian           Kfar Dan                   Jenin
3  Palestinian  'Aqbat Jaber R.C.                 Jericho
4  Palestinian         Jenin R.C.                   Jenin

  event_location_region date_of_death gender took_part_in_the_hostilities  \
0             West Bank    2023-09-24      M                          NaN
1             West Bank    2023-09-24      M                          NaN
2             West Bank    2023-09-22      M                          NaN
3             West Bank    2023-09-20      M                          NaN
4             West Bank    2023-09-19      M                          NaN

  place_of_residence place_of_residence_district type_of_injury  \
0     Nur Shams R.C.                     Tulkarm        gunfire
1     Nur Shams R.C.                     Tulkarm        gunfire
2           al-Yamun                       Jenin        gunfire
3  'Aqbat Jaber R.C.                     Jericho        gunfire
4              Jenin                       Jenin        gunfire

        ammunition                killed_by  \
0  live ammunition  Israeli security forces
1  live ammunition  Israeli security forces
2  live ammunition  Israeli security forces
3  live ammunition  Israeli security forces
4  live ammunition  Israeli security forces

                                               notes
0  Fatally shot by Israeli forces while standing ...
1  Fatally shot by Israeli forces while trying to...
2  Fatally shot by soldiers while firing at them ...
3  Shot in the head by Israeli forces while throw...
4  Wounded by soldiers’ gunfire after running awa...

Stacked Dataset:
    age Variable                                        Value
0  32.0     name  'Abd a-Rahman Suleiman Muhammad Abu Daghash
1  21.0     name         Usayed Farhan Muhammad 'Ali Abu 'Ali
2  16.0     name             'Abdallah 'Imad Sa'ed Abu Hassan
3  19.0     name             Durgham Muhammad Yihya al-Akhras
4  15.0     name                 Raafat 'Omar Ahmad Khamaisah